@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --font-family: "rubik", "Segoe UI", "Roboto", Helvetica, Arial, sans-serif;

    --color-primary: #630f8e;
    --color-secondary: #fd3e81;
    --color-accent: #36f2aa;

    --color-accent-blue: #36a2f2;
    --color-accent-yellow: #ffe066;

    --color-text: #fff;
    --color-background: #1e1921;

    --color-light-gray: #48424b;
    --color-gray: #363039;
    --color-dark-gray: #2b272d;

    --gradient-color-purple: #830192;
    --gradient-color-blue: #3e46b7;

    --text-h1: 2.5rem;
    --text-h1--font-weight: 900;
    --text-h2: 1.75rem;
    --text-h2--font-weight: 800;
    --text-h3: 1.5rem;
    --text-h3--font-weight: 800;

    --padding-small: 0.5rem;
    --padding: 1rem;
    --padding-big: 1.5rem;

    --border-radius: 0.5rem;
    --border-radius-big: 1rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    scroll-behavior: smooth;
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-family);
}

@media (max-width: 600px) {

    html,
    body {
        font-size: 0.95rem;
    }
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

html> ::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background: var(--text);
    border-radius: 10px;
    border: 3px solid var(--background-dark);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--text);
}

::-webkit-scrollbar-thumb:active {
    background: var(--accent1);
}

::-webkit-scrollbar-button {
    display: none;
}

/* Links & Buttons */
a {
    display: flex;
    gap: 0.4rem;
    font-family: var(--font-family);
    color: var(--color-accent);
    font-weight: 700;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--color-secondary);
}

i.external-link {
    font-size: 0.75em;

}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: var(--border-radius);
    padding: 0.6em 1.8em;
    cursor: pointer;
    border: 3px solid var(--color-accent);
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
    color: var(--color-background);
    background-color: var(--color-accent);
}

button i {
    font-size: 1.25em;
}

button:hover {
    background-color: var(--color-secondary);
    color: var(--color-text);
    border: 3px solid var(--color-secondary);
}

button.hollow:not(.selected) {
    font-family: var(--font-family);
    transition: color 0.3s ease, border 0.3s ease;
    color: var(--color-accent);
    background-color: transparent;
    border: 3px solid var(--color-accent);
}

button.hollow:not(.selected):hover {
    color: var(--color-secondary);
    border: 3px solid var(--color-secondary);
}

button.square {
    aspect-ratio: 1 / 1;
    height: 100%;
    padding: 0.6em 0.6em;
}

.button-group {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.button-group * {
    flex: 1;
}

@media (max-width: 640px) {
    .button-group {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        gap: var(--padding-small);
    }

    .button-group * {
        flex: none;
        width: 100%;
    }
}

/* Text */
p {
    color: var(--color-text);
    line-height: 1.4;
    letter-spacing: 0.01em;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    margin-block: 0.5em;
}

h1 {
    font-size: var(--text-h1);
    font-weight: var(--text-h1--font-weight);
    margin-bottom: var(--padding-big);
    text-transform: uppercase;
}

h2 {
    font-size: var(--text-h2);
    font-weight: var(--text-h2--font-weight);
    margin-bottom: var(--padding-small);
}

h3 {
    font-size: var(--text-h3);
    font-weight: var(--text-h3--font-weight);
    margin-bottom: 1rem;
}

/* Modifier things */
.hidden {
    display: none !important;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.padding-small {
    padding: var(--padding-small);
}

.padding {
    padding: var(--padding);
}

.padding-big {
    padding: var(--padding-big);
}

.bottom{
    margin-top: auto;
}

.color-primary {
    color: var(--color-primary);
}

.color-secondary {
    color: var(--color-secondary);
}

.color-accent {
    color: var(--color-accent);
}

.color-accent-blue {
    color: var(--color-accent-blue);
}

.color-accent-yellow {
    color: var(--color-accent-yellow);
}

.star-bg {
    background-image: url('../img/star-bg.svg');
}

.gradient-bg {
    padding: var(--padding) 0;
    background: linear-gradient(130deg, var(--gradient-color-purple) 0%, var(--gradient-color-blue) 100%);
}

.fade-in-fast {
    animation: fadeIn 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.fade-in {
    animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.fade-in-slow {
    animation: fadeIn 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        translate: 0 10px;
    }

    to {
        opacity: 1;
        translate: 0;
    }
}


/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: calc(100% - 20vw);
    height: 4rem;
    background-color: var(--color-primary);
    padding: 1vh 1vw;
    top: 1.5vh;
    left: 10vw;
    z-index: 1000;
    margin: 0;
    border-radius: var(--border-radius);
}

@media (max-width: 960px) {
    header {
        width: 100vw;
        top: 0;
        left: 0;
        padding: 1vh 2vw;
        border-radius: 0;
    }
}

.logo {
    width: 10rem;
    height: auto;
    translate: 0 33%;
    transition: translate 0.2s cubic-bezier(0.2, 2, 0.68, 1.43);
}

.logo:hover {
    translate: 0 40%;
}

nav {
    display: flex;
    align-items: center;
    gap: 3rem;
}

nav a {
    font-family: var(--font-family);
    color: var(--color-text);
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

nav a:hover {
    color: var(--color-accent);
}

nav button {
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

nav .hamburger-menu {
    display: none;
}

@media (max-width: 720px) {

    nav a:not(:last-child),
    nav button {
        display: none !important;
    }

    nav .hamburger-menu {
        display: inline-flex !important;
        align-items: center;
        font-size: 2rem;
        color: var(--color-text);
        cursor: pointer;
    }
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-top: 15vh;
    gap: var(--padding);
    width: 100%;
}

@media (max-width: 960px) {
    main>section>article {
        max-width: 100%;
        padding: 0 var(--padding-big);
    }
}

main>section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

main>section>article {
    max-width: 960px;
    width: 100%;
}

/* Todo List */
#todo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--padding-big);
    height: 60vh;
}

#todo-container>* {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    overflow-y: auto;
}

@media (max-width: 960px) {
    #todo-container {
        flex-direction: column-reverse;
        height: auto;
        gap: var(--padding);
    }

    #todo-container>* {
        height: auto;
        width: 100%;
    }
}

.todo-list-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--padding-small);
}

.todo-list-header h1 {
    margin: 0;
}

.todo-list {
    list-style: none;
    padding: 0;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    background: var(--color-gray);
    border-radius: var(--border-radius);
    padding: var(--padding);
    margin-bottom: var(--padding-small);
}

.todo-item:hover {
    background: var(--color-light-gray);
}

.todo-item>i {
    transform: translateX(0px);
    transition: transform 0.18s cubic-bezier(0.45, 1.67, 0.82, 1.17);
}

.todo-item:hover>i {
    transform: translateX(5px);
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
}

form > h2 {
    margin: 0;
}

form > *:last-child {
    margin-top: auto;
}

form input,
form select,
form textarea {
    color: var(--text-light);
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.4;
    letter-spacing: 0.03em;
    margin: 0;
    background: transparent;
    border: 1px solid var(--color-gray);
    border-radius: var(--border-radius);
    padding: 0.5em 1em;
    font-family: inherit;
    outline: none;
    transition: border 0.2s;
}

form input:focus,
form select:focus,
form textarea:focus {
    border-color: var(--color-accent);
}

form textarea {
    flex: 1;
    resize: none;
}

form select option {
    background-color: var(--color-gray);
}

/* Footnote */
.footnote {
    font-size: 0.85rem;
    color: var(--color-text);
    margin-top: var(--padding);
    text-align: center;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    z-index: 999;
    color: inherit;
    background-color: black;
    width: 100%;
    height: 8em;
    padding: var(--padding);
    margin-top: var(--padding-big);
    gap: var(--padding-big);
}

footer section {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    gap: var(--padding-big);
}

@media screen and (max-width: 480px) {
    footer {
        height: auto;
        flex-direction: column;
    }
}

footer article {
    flex: 1;
}

#footer-logo {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0.5em 0;
    box-sizing: border-box;
}

#footer-logo a {
    height: 100%;
    width: 100%;
}

#footer-logo img {
    height: 100%;
    width: auto;
}

@media screen and (max-width: 720px) {
    #footer-logo {
        display: none;
    }
}

footer h3 {
    margin-bottom: var(--padding-small);
}

footer p {
    color: var(--text-light);
    font-weight: 300;
    font-size: 0.9rem;
    line-height: 1.4;
    letter-spacing: 0.03em;
    margin: 0;
}

footer a {
    color: var(--text);
    font-weight: inherit;
    font-size: 1em;
}

footer a:hover {
    color: var(--accent1);
    font-weight: bold;
}

.social-links {
    display: flex;
    align-items: center;
    gap: var(--padding);
}

.social-links a i {
    transition: color 0.5s ease, transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transform: scale(1);
    font-size: 1.5em;
}

.social-links a:hover i {
    color: var(--color-secondary);
    transform: scale(1.4) rotate(360deg);
}
